body {
    text-align: center;
    font-family: verdana, sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.gwt-SuggestBox {
    color: green;
}

.gwt-SuggestBoxPopup {
    border: thin 1px solid green;
    width: 200px;
}

.gwt-SuggestBoxPopup.item {
    color: red;
}

.gwt-SuggestBoxPopup .item-selected {
    color: gray;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeft {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenter {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupTopCenterInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupTopRight {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenter {
    border: thin 1px solid green; width:200px;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRight {
    border: thin 1px solid green;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
    border: thin 1px solid green;
}